.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #33363d;
  // justify-content: space-between;

  .chatMessage {
    flex-grow: 1;
  }
  .chatInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #474b53;
    border-radius: 5px;
    margin: 20px;
    color: lightgray;

    form {
      flex-grow: 1;
      input {
        padding: 15px;
        background: transparent;
        border: none;
        outline: none;
        color: white;
        font-size: large;
        width: 100%;
      }
      .chatInputButton {
        display: none;
      }
    }
  }
}