.message {
  display: flex;
  align-items: center;
  padding: 0px 15px 0px 15px;
  color: white;
  // margin-bottom: 10px;

  .MuiSvgIcon-root{
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .messageInfo {
    padding: 20px 20px 20px 10px;
    p {
      padding-top: 2px;
    }
  }

  .messageTimestamp {
    color: #7b7c85;
    margin-left: 20px;
    font-size: 15px;
  }
}