.sidebar {
  display: flex;
  flex: 0.35;
  height: 100vh;
  background-color: #33363d;
}

.sidebarLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1c20;
  padding: 7px 16px;
  
}

.sidebarIcon {
  width: 55px;
  height: 55px;
  background-color: #33363d;
  border-radius: 999px;
  margin-bottom: 10px;
  position: relative;
  margin-top: 2px;
}

img {
  position: absolute;
  width: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebarRight {
 background-color: #2b2d33;
}